/*
    Student Name: William Renard
    File Name: styles.css
    Date: 11-29-2023 
*/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Saira+Extra+Condensed&display=swap');

/* CSS Reset */

body, header, nav, main, footer, img, h1, h3, ul, table, td, th {
  padding: 0;
  border: 0;
  margin: 0;
}

/* Style rules for body and images*/

body {
  background-color: #1b1b1b;
}

img {
  max-width: 100%;
  display: block;
  color: #f6eee4;
}

/* Style Rules for Mobile Viewport */

.mobile-tab {
  display: block;
}

.desktop-tab {
  display: none;
}

/* Style rules for header area */

header {
  padding: 0% 0% 1% 0%;
}

h1, h3 {
  padding: 0.5% 0% 0% 1%;
  color: #f6eee4;
}

h1 {
  font-family: 'Saira Extra Condensed', sans-serif;
}

h3 {
  font-family: 'Saira Extra Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

/* Style rules for navigation area */

nav {
  background-color: #4e4e4e;
  margin: 0% 2%;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: block;
  border: 0.5px solid;
  border-top-color: #6f7c89;
  font-size: 1.5em;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: bold;
}

nav li a {
  display: block;
  color: #f6eee4;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding: 0.5em 2em;
  text-decoration: none;
}
/* Style rules for main content */

main {
  padding: 2%;
  font-family: 'Inter', Verdana, Arial, sans-serif;
}

.hero {
  padding-bottom: 2%;
}

.desktopHeroImage {
  display: none;
}

.mobileHeroImage {
  display: block;
}

p {
  color: #f6eee4;
  line-height: 1.8em;
}

/* Utilized ::first-letter selector as well as > sign for selecting only elements inside a specific element. */
div > p::first-letter {
  font-size:x-large;
}

#galleryIntro figcaption::first-letter {
  font-size:x-large;
}

a {
  text-decoration: underline;
  color: #6f7c89;
}

a:hover {
  color:#f6eee4;
  background-color: #6f7c89;
}

main ul {
  color: #f6eee4;
  line-height: 1.8em;
  list-style-type:circle;
  margin-left: 5%;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

/* gallery page related */

#galleryIntro {
  padding: 0% 1%;
}

#galleryIntro figcaption {
  padding: 2% 4%;
  line-height: 1em;
  font-size: .9em;
}

#galleryTitle {
  text-align: center;
}

figure img {
  border: 1px solid #f6eee4;
  box-shadow: 6px 6px 10px #000;
}

figcaption {
  padding-top: 1%;
  color: #f6eee4;
}

/* Style rules for footer content */

footer {
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 0.85em;
  background-color: #212529;
  color: #f6eee4;
  padding: 1% 0%;
}

/*  Media Query for Tablet Viewport  */
@media all and (min-width: 620px) {

  .desktopHeroImage {
    display: block;
  }

  .mobileHeroImage {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }

    /* Tablet Viewport: Style rules for nav area */
    nav {
      border: 0.2px solid;
      border-color: #f6eee4;
    }

    nav li {
      border: 0px;
      display: inline-block;
      font-size: 1.25em;
      font-family: Inter, Arial, sans-serif;
      font-weight: bold;
    }
  
    nav li a {
      padding: 0.5em;
    }

    .mobile-tab {
      display: none;
    }

    .desktop-tab {
      display: block;
    }

    /* Style rules for tables */
    
    table {
      border-collapse: separate;
      border-spacing: 10px 10px;
    }

    td {
      color: #f6eee4;
    }
    tr {

    }

}

/* Media Query for Print */
@media print {
  body {
    background-color: white;
    color: black;
  }
}

/* Media Query for Desktop Viewports */
@media all and (min-width: 1000px)
{
    /* Desktop Viewport: Style rules for nav area */
    .hero {
      padding-bottom: 1%;
    }

    .desktopHeroImage {
      display: block;
    }
  
    .mobileHeroImage {
      display: none;
    }

    .grid {
      display: grid;
      grid-template-columns: auto auto;
      gap: 20px;
    }

    #gallery {
      grid-template-columns: auto auto auto;
      gap: 5px;
    }
  
    nav li a { 
      padding: 0.5em 1.5em;
    }
  
    nav li a:hover {
      color: #1d1c1c;
      background-color: #f6eee4;
    }
}

/* Media Query for Large Desktop Viewports */
@media all and (min-width: 1921px)
{

  header {
    background-color: #1d1c1c;
  }

  body { 
    background: linear-gradient(#1d1c1c, #212529);
  }

  .wrapper {
    width: 1920px;
    margin: 0 auto;
  }

  main {
    background-color: #1b1b1b;
    color: #f6eee4;
  }
}
